* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#page1 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-color: antiquewhite; */
}
nav h1 {
  color: #7b4107;
  font-size: 25px;
}
nav h1 span {
  color: #f19334;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fffce1cc;
  z-index: 100;
}
nav #menu {
  display: none;
}
.nav-links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
  list-style: none;
  position: relative;
  right: 4rem;
  font-family: serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}
   
.nav-links li a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}
.nav-links li a:hover {
  color: #7b4107;
  opacity: 80%;
  transform: scale(0.9);
  /* background-color: #7b4107; */
  border-radius: 5px 10px 5px 10px;
  border: 2px solid #7b4107;
  padding-left: 6px;
  padding-right: 6px;
  transition: all 0.4s ease-in-;
}
.main-content {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: #1d1212;
  overflow: hidden;
}
.main-text-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-text p{
  font-size: 24px;
}
.main-text span{
  color:#f19334;
}

.main-content .main-text {
  position: absolute;
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  left: 4%;
  top: 20%;
  color: white;
  font-size: 2rem;
  /* top: 30%; */
  flex-direction: column;
  gap: 1rem;
  /* background-color: #f41b3f; */
}
.main-content .main-image {
  position: absolute;
  left: 50%;
  top: 11%;
  display: flex;
  justify-content: flex-end;
  width: 600px;
  height: 500px;
  /* background-color: aquamarine; */
}
.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  bottom: 10%;
  left: 20%;
}
.main-image p {
  position: absolute;
  font-size:20px;
  letter-spacing: 0;
  font-family: "Courier New", Courier, monospace;
  color: #ffff;
  display: flex;
  flex-direction: column;
  top: 90%;
  left: 60%;
}
.main-content i {
  position: absolute;
  top: 88.5%;
  left: 52%;
  font-size: 35px;
  opacity: 70%;
  display: flex;
  color: #ffff;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: #cbb69b;
  overflow: hidden;
}
#page2 .main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img2.jpg");
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#page2 h1 {
  height: 100%;
  width: 100%;
  position: absolute;
  color: #ffff;
  display: flex;
  top: 10%;
  left: 12%;
  font-size: 60px;
  font-family: "serif";
  font-weight: 500;
}
#page2 .heading1 {
  position: absolute;
  color: #ffff;
  display: flex;
  top: 25%;
  left: 40%;
  font-size: 26px;
  font-family: "Lucida Sans";
  font-weight: 50;
  width: 50%;
  line-height: 1;
}
#page2 .p1 {
  position: absolute;
  color: #ffff;
  display: flex;
  top: 31%;
  left: 40%;
  font-size: 20px;
  font-family: "serif";
  font-weight: 500;
  width: 50%;
  text-align: center;
  line-height: 1.3;
  opacity: 0.8;
}

#page2 .heading2 {
  position: absolute;
  color: #ffff;
  display: flex;
  top: 60%;
  left: 40%;
  font-size: 26px;
  font-family: "Lucida Sans";
  font-weight: 50;
  width: 50%;
  line-height: 1;
}
#page2 .p2 {
  position: absolute;
  color: #ffff;
  display: flex;
  top: 66%;
  left: 40%;
  font-size: 20px;
  font-family: "serif";
  font-weight: 50;
  width: 50%;
  text-align: center;
  line-height: 1.5;
  opacity: 0.8;
}

#page3 {
  height: 100vh;
  width: 100%;
  background-image: url("/p3.jpg");
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
#page3 h1 {
  height: 100%;
  width: 100%;
  position: absolute;
  color: #ffff;
  display: flex;
  top: 10%;
  left: 8%;
  font-size: 60px;
  font-family: "serif";
  font-weight: 500;
}
#page3 .cards {
  width:100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;  
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  gap: 2rem;
  flex-wrap: wrap;
}
#page3 .card {
  position: relative;
  width: 250px;
  height: 300px;
  border-radius: 20px;
  background: #fffce0cc;
  box-shadow: 40px #f3f1dbcc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:  20px;
  text-align: center;
  transition: all 0.6s ease-in-out;
}
#page3 .card p{
   margin-top: 10px;
}
#page3 .card button {
  width: 100px;
  position: relative;
  height: 40px;
  border-radius: 20px;
  background-color: #7b4107;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  top: 20%;
  transition: all 0.3s ease-in-out;
}
  #page3 .card button:hover{
   background-color:  #a75604;
   color:#1d1212;
   transform: scale(0.9);
  } 
#page3 .card:hover{
   transform: scale(1.1);
}
#skills{
    height: 100vh;
     width: 100%;
  background-color: black;
  overflow: hidden;
  position: relative;
}
#skills h1{
    /* height: 100%; */
  /* width: 100%; */
  position: absolute;
  color: #ffff;
  display: flex;
  top: 10%;
  left: 8%;
  font-size: 56px;
  font-family: "serif";
  font-weight: 500;
}

#skills .images{
  /* position: relative; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10%;
    margin-left: 10%;
  
}
#skills .images img{
  /* position: relative; */
  width: 140px;
   padding: 15px; 
  object-fit: cover;
}

#page4 {
  height: 100vh;
  width: 100%;
  background-color: #7b4107;
  overflow: hidden;
  position: relative;
}
#page4 h1 {
  height: 100%;
  width: 30%;
  position: absolute;
  color: #ffff;
  display: flex;
  top: 16%;
  left: 8%;
  font-size: 80px;
  text-align: start;
  font-family: "serif";
  font-weight: 500;
}
.content .contactpage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  align-items: center;
  /* background-color: #fea245; */
}

/*  */
#page4 .content p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 40%;
  color: #ffff;
  text-align: center;
  width: 50%;
  opacity: 0.8;
}
#page4 .content .text {
  font-size: 30px;
  color: #ffff;
}

.contact-p #phone {
  position: absolute;
  font-size: 20px;
  margin-top: 10%;
  font-family: "serif";
  color: #ffff;
}
#phone a {
  text-decoration: none;
  color: #ffff;
  opacity: 0.8;
  margin: 10px 0;
}

.contact-info {
  position: absolute;
  top: 90%;
  left: 20%;
}

.contact-p {
  position: absolute;
  top: 90%;
  left: 45%;
}
.contact-info #email {
  position: absolute;
  font-size: 20px;
  margin-top: 12%;
  font-family: "serif";
  color: #ffff;
  /* background-color: #1d1212; */
}
#email a {
  text-decoration: none;
  color: #ffff;
  opacity: 0.8;
  margin: 10px 0;
}
.form-group {
  position: absolute;
  top: 32%;
  left: 48%;
  width: 36%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  color: #ffff; 
   font-family: "serif";
   font-size: 20px;
   padding: 20px;
   
}
.form-group label {
  font-size: 20px;
  color: #ffff;
  opacity: 95%;
  font-family: "serif";
}
.form-group input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  font-size: 16px;
  font-family: "serif";
  color: #7b4107;
  padding: 10px;
  background-color: #fffce0cc;

}
.form-group #message {
  width: 100%;
  height: 100px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  font-size: 16px;
   padding: 10px;
  font-family: "serif";
  color: #7b4107;
   resize: none;
  background-color: #fffce0cc;
}
.form-group button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f19334;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
  .form-group button:hover{
   background-color: #e46f09;
    transform: scale(0.9);
  }

.contactpage .icons{
   width: 50%;
   position: absolute;
   top: 80%;
   left: 10%;
  gap: 15px;
   display: flex;
   /* background-color: #1d1212; */
   /* justify-content: center; */
   color: #ffff;
   font-size: 30px;
   cursor: pointer;
}
.contactpage .icons i {
  transition: all 0.3s ease-in-out;
  color: #fffce0cc;
}
.contactpage .icons i:hover {
  color: #da9148;
  transform: scale(1.2);
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #1d1212;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "serif";
  gap: 10px;
}

/* ================= MOBILE RESPONSIVE ================= */

/* Tablet screens */
@media (max-width: 768px) {
  nav {
    padding: 1rem 2rem;
  }
  .nav-links {
    gap: 1.5rem;
    right: 2rem;
    font-size: 1rem;
  }
  nav #menu {
    display: none;
  }
  .main-content {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }
  .main-content .main-text {
    position: static;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    align-items: center;
    margin-top: 30%;
  }
  .main-content .main-image {
    position: static;
    width: 80%;
    height: auto;
    margin-top: 20px;
  }
  .main-image img {
    width: 100%;
    position: absolute;
    height: auto;
    object-fit: cover ;
    left: 16%;
    top: 40%;
  }
  .main-image p i {
    position: absolute;
    font-size: 16px;
    left: 20%;
    top: 80%;
    margin: 10%;
  }

  #page2 h1 {
    font-size: 40px;
    left: 5%;
  }
  #page2 .p1 .p2{
    font-size: 35px;
  }
   .main .heading1,
  .main .heading2{
    /* font-size: 40px; */
    width: 80%;
    left: 10%;
    text-align: center;
  
  }

  #page2 .heading1,
  #page2 .p1,
  #page2 .heading2,
  #page2 .p2 {
    position: static;
    width: 90%;
    margin: 10px auto;
    text-align: center;
  }
  #page3 h1 {
    font-size: 40px;
    left: 5%;
  }
  
   #page3 .cards {
    width: 90%;
  }

  #page3 .card {
    padding: 20px;
  }

  #page3 .card button {
    font-size: 14px;
    padding: 8px 18px;
  }

  #skills {
    min-height: max-content;
    position: relative;

  }   
  #skills .images {
    /* position: absolute;
    top: 40%; */
    width: 90%;
    gap: 12px;

  }

  #skills .images img {
    width: 120px;
    padding: 10px;
  }

  #page4 h1 {
    font-size: 50px;
    width: 100%;
    left: 0;
    text-align: center;
  }
  #page4 .form-group {
    position: static;
    width: 90%;
    margin: 0 auto;
  }
  .contactpage .icons {
    position: static;
    justify-content: center;
    margin-top: 20px;
  }
  .contact-info,
  .contact-p {
    position: static;
    text-align: center;
    margin-top: 15px;
  }
}

/*==================================== Mobile screens =============================================*/
@media (max-width: 480px) {
  nav h1 {
    font-size: 20px;
  }
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 130px;
    background: #fffce1cc;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    padding: 1rem;
    display: none; 
  }
   .nav-links.active {
    display: flex;
  }
    nav #menu {
    display: block;
  }
  .main-content .main-text {
    font-size: 1.2rem;
  }
  .main-image img {
    width: 100%;
    height: auto;
    left: 10%;
    top: 56%;
  }

  #page2 h1 {
    font-size: 28px;
  }
    #page2 .heading1 {
    position: absolute;
    top: 15%;
    left: 35%;
    font-size: 24px;
    width: 90%;
  }
  #page2 .p1 {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 18px;
    line-height: 1.8;
  }
   #page2 .heading2{ position: absolute;
    top: 55%;
    left: 25%;
    font-size: 24px;
    width: 90%;
  }
  #page2 .p2 {
    position: absolute;
    padding: 15px;
    top: 60%;
    left: 5%;
    font-size: 18px;
    line-height: 1.8;
  }
  #page3 h1 {
    top: 5%;
    position: absolute;
    font-size: 28px;
  }

    #page3 .cards {
      display: flex;
      flex-direction:column ;
      justify-content: center;
    position: relative;
    width: 90%;
    padding: 20px;
    height:80%;
    margin-top: 15%;
  }
   #page3 .card {
    position: relative;
    width: 80%;
    height: 80%;
    padding: 20px;
  }

  #page3 .card button {
    width: 110px;
    font-size: 14px;
    height: 36px;
    margin-top: 16px;
  }
   #skills h1 {
    font-size: 26px;
    margin-top: 20%;
  }
  #skills .images{
    margin: auto;
    position: absolute;
    top: 35%;
  }
  #skills .images img {
    margin: auto;
    width: 90px;
    padding: 5px;
  }
   #skills .image img:nth-last-child(1){
    width: 100px;
    height: 80px;
    background-color: rgb(247, 6, 90);
  }
  #page4 h1 {
    font-size: 36px;
    top: 5%;
  }
  .form-group label {
    font-size: 18px;
  }
 
   #page4 .text{
    position:absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
   }
   #page4 form {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
   #page4 .icons{
    position: absolute;
     top: 90%;
    left:50%;
    transform: translateX(-50%);
   }
}